@charset "utf-8";
 /* CSS Document */
 #palabra,
 #palabra_error
 {font-size:2.5em;
  font-weight:bold;
  letter-spacing:0.2em;
  text-align:center;
 }
 .letras
 {font-size:3.5em;
  font-weight:bold;
  text-align:center;
  width:20%;
  padding:5px;
  display:inline-block;

 }
 
  .flechas
 {
  font-size:3.5em;
  font-weight:bold;
  width:34%;
  padding:5px;
  display:inline-block;

 }
 
 .grande
 {display:block;
  color:#E67E22;
 }
#encontradas
{ color:#F00;
}

#palabra
 {
	 -webkit-animation-duration: 0.7s;
 }
 
#palabra_error
 {
	  -webkit-animation-duration: 2s;
 }
 

.error
 {
	 
	    color:#F00;
 }
 
.acierto
 {
	color: #3F0; 
 }
 
 #imagen
 {
	margin: 0;
	padding: 0; 
 }